
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}


body.home {
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  background-image: url("../public/background-images/backgroundMountain.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

}

body.about {
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  background-color: var(--quaternary-color);
  display: flex;
  justify-content: center;
}

body.contact {
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  background-image: url("../public/background-images/backgroundMountainUpsideDown.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.hamburger > img{
  width: 3em;
  height: 2em;
  cursor: pointer;
}

.main {
  width: 80vw;
  height: 68vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:space-between;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  align-items: flex-start;
  padding-left: 10%;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;

}

.content > hr {
  width: 80%;
  height: 3px;
  border-width: 0px;
  text-align: left;
  margin-left: 0;
  background-color:antiquewhite;
}

.buttons {
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 6px;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.arrow > span > img{
  width: 2em;
  height: 2.5em; 
  margin-left: 7%;
  cursor: pointer;
}


/* ABOUT PAGE */

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title > hr {
  width: 30%;
  margin: 10px;
  height: 3px;
  border-width: 0px;
  text-align: left;
  background-color:red;
}

.first {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.slider {
  width: 100%;
  max-width: 400px;
  height: 300px;
  color: red;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  width: 100%;
  max-width: 400px;
  height: 300px;
  position: absolute;
  transition: all 0.5s;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #7c2c2c;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}


/* .title > h1 {
  
} */



/* CONTACT PAGE */

form > fieldset{
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  width: 600px;
  border-color: var(--quaternary-color);
  padding: 3rem;
}


/* Desktop */
@media (min-width: 1000px){

}

/* Tablet */
@media (min-width: 600px) and (max-width: 1000px) {

}

/* Mobile */
@media (max-width: 600px) {

}